<form #formRef="ngForm" (ngSubmit)="onSubmit(formRef.value)">
  <ng-container *ngFor="let matchNumber of numberOfMatches | range" [ngModelGroup]="'match'+matchNumber" class="">
    <h4 class="text-center">Match {{matchNumber}}</h4>
    <h5 class="mt-3 mb-3">Team {{competitionInfo?.team1}}</h5>
    <ng-container ngModelGroup="team1">
      <div class="form-group row mb-1 text">
        <h6 class="col-12">Player 1</h6>
      </div>
      <div class="form-group row">
        <div class="col-12"><input type="text" class="form-control" placeholder="Name" ngModel name="player1Name" id="t1-player1-name"></div>
      </div>
      <div class="form-group row">
        <div class="col-12"><input type="text" class="form-control" placeholder="Surname" ngModel name="player1Surname" id="t1-player1-surname"></div>
      </div>
      <div class="form-group row mb-1 text">
        <h6 class="col-12">Player 2</h6>
      </div>
      <div class="form-group row">
        <div class="col-12"><input type="text" class="form-control" placeholder="Name" ngModel name="player2Name" id="t1-player2-name"></div>
      </div>
      <div class="form-group row">
        <div class="col-12"><input type="text" class="form-control" placeholder="Surname" ngModel name="player2Surname" id="t1-player2-surname"></div>
      </div>
    </ng-container>

    <h5 class="mt-3 mb-3">Team {{competitionInfo?.team2}}</h5>
    <ng-container ngModelGroup="team2">
      <div class="form-group row mb-1 text">
        <h6 class="col-12">Player 1</h6>
      </div>
      <div class="form-group row">
        <div class="col-12"><input type="text" class="form-control" placeholder="Name" ngModel name="player1Name" id="t2-player1-name"></div>
      </div>
      <div class="form-group row">
        <div class="col-12"><input type="text" class="form-control" placeholder="Surname" ngModel name="player1Surname" id="t2-player1-surname"></div>
      </div>
      <div class="form-group row mb-1 text">
        <h6 class="col-12">Player 2</h6>
      </div>
      <div class="form-group row">
        <div class="col-12"><input type="text" class="form-control" placeholder="Name" ngModel name="player2Name" id="t2-player2-name"></div>
      </div>
      <div class="form-group row">
        <div class="col-12"><input type="text" class="form-control" placeholder="Surname" ngModel name="player2Surname" id="t2-player2-surname"></div>
      </div>
    </ng-container>
    <hr/>
  </ng-container>

  <button type="submit" class="btn btn-info float-right" [disabled]="numberOfMatches == 0">Create Competition</button>
</form>

