$red: #d20004;
$blue: #0132a7;
$dark-blue: #2e384e;
$light-gray: #b8b8b8;

* {

}
.btn-group {
  display: block;
  text-align: center;

  .btn {
    margin-bottom: 0.5em;
  }

  label {
    font-family: Stratum, sans-serif;
  }

  .hole.active {

  }

  .team1 {
    color: $red;
  }

  .team1.active {
    color: white;
    background-color: $red;
  }

  .team2 {
    color: $blue;
  }

  .team2.active {
    color: white;
    background-color: $blue;
  }

  .halved.active {
    background-color: $light-gray;
    color: $dark-blue;
  }

  .halved-hole {
    background-color: $light-gray;
    color: $dark-blue;
  }


  .team1-hole {
    background-color: $red;
    color: white;
  }

  .team2-hole {
    background-color: $blue;
    color: white;
  }
}

label.header {
  display: block;
  text-align: center;
}
