<div class="modal-header">
  <h4 class="modal-title">Select result</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span>&times;</span>
  </button>
</div>
<div class="modal-body">
  <label class="header">Holes</label>
  <div class="btn-group" ngbRadioGroup name="hole" [(ngModel)]="holeSelected" (ngModelChange)="updateResult($event)">
    <label ngbButtonLabel *ngFor="let score of team1ScoreDirty; let i = index" class="btn-secondary hole"
           [class.halved-hole]="getHoleResult(i) === 2" [class.team1-hole]="getHoleResult(i) === 0" [class.team2-hole]="getHoleResult(i) === 1">
      <input ngbButton type="radio" [value]="i+1"> {{i+1}}
    </label>
  </div>
  <hr>
  <label class="header">Hole <b>{{holeSelected}}</b> score</label>
  <div class="btn-group" ngbRadioGroup name="result" [(ngModel)]="result" (ngModelChange)="updateMatch($event)">
    <label ngbButtonLabel class="btn-secondary team1">
      <input ngbButton type="radio" [value]="0"> Team A
    </label>
    <label ngbButtonLabel class="btn-secondary halved">
      <input ngbButton type="radio" [value]="2"> Halved
    </label>
    <label ngbButtonLabel class="btn-secondary team2">
      <input ngbButton type="radio" [value]="1"> Team B
    </label>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="saveResults()">Save</button>
  <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Close</button>
</div>
