* {
  font-family: 'Stratum', sans-serif;
}

.container {
  margin: 0;
  padding: 0;
  width: 100%;

  .container {
    margin: 0;
    padding: 0;
  }

  .scoring {
    color: white;
    font-size: 2.3em;
    height: 120px;
    width: 100%;
    background: url('../../assets/scoring_bg.jpg');
    background-position: center 42%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    padding-top: 34px;
  }

}





