<ngb-accordion activeIds="competition-info,matches-info" #acc="ngbAccordion">
  <ngb-panel id="competition-info" title="Competition Info">
    <ng-template ngbPanelContent>
      <form #formRef="ngForm">
        <div class="form-group" [class.has-danger]="competitionNameRef.touched && competitionNameRef.errors?.required">
          <label for="competition-name">Name</label>
          <input type="text" required class="form-control form-control-danger" placeholder="Competition Name"
                 [class.form-control-danger]="competitionNameRef.touched && competitionNameRef.errors?.required" id="competition-name" [(ngModel)]="competitionName" name="competitionName" #competitionNameRef="ngModel">
        </div>
        <div class="form-group">
          <label for="team-1-name">Team 1</label>
          <input type="text" required class="form-control" placeholder="Team 1 Name" id="team-1-name" [(ngModel)]="team1Name" name="team1Name" #team1NameRef="ngModel">
        </div>
        <div class="form-group">
          <label for="team-2-name">Team 2</label>
          <input type="text" required class="form-control" placeholder="Team 2 Name" id="team-2-name" [(ngModel)]="team2Name" name="team2Name" #team2NameRef="ngModel">
        </div>

        <div class="form-group">
          <label for="number-of-matches">Matches</label>
          <select class="form-control" id="number-of-matches" [(ngModel)]="numberOfMatches" name="numberOfMatches">
            <option value="0">--</option>
            <option *ngFor="let number of maxNumberOfMatches | range" [ngValue]="number">{{number}}</option>
          </select>
        </div>
      </form>
    </ng-template>

  </ngb-panel>

  <ngb-panel title="Matches Info" id="matches-info" >
    <ng-template ngbPanelContent>
      <app-matches [(numberOfMatches)]="numberOfMatches" [competitionInfo]="{ name: competitionName, team1: team1Name, team2: team2Name}"></app-matches>
    </ng-template>
  </ngb-panel>

</ngb-accordion>



