$red: #d20004;
$blue: #0132a7;
$dark-blue: #2e384e;
$light-gray: #b8b8b8;

.holes {
  background-color: white;
  margin-bottom: 1em;
  margin-right: 0;
  margin-left: 0;
  width: 100%;

  i {
    font-size: 0.9rem;
    padding: 0 0.01em;
  }
}

.modal-content {
  transform: translate(0, 10%);
}
