<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <div class="navbar-brand">
    <img src="http://i.cdn.rydercup.com/sites/all/themes/custom/rydercup/images/RC_logo@2x.png" height="33" width="32"  class="d-inline-block align-top" alt="">
    <span>{{(user$ | async)?.displayName}}</span>
  </div>

  <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarNav" #navbar [ngbCollapse]="isNavbarCollapsed">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="competitions">Competitions <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="competition">Create Competition</a>
      </li>
    </ul>
  </div>
</nav>
