@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/font-awesome/scss/font-awesome';
@import url('https://fonts.googleapis.com/css?family=Aldrich|Rajdhani:700');
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Exo+2');

@font-face {
  font-family: 'Stratum';
  src: url('assets/fonts/Stratum2WebBlack.woff2') format('woff2');
  font-weight: normal;
}

body {
  background-color: $ultra-light-gray;
}
