<div class="row align-items-center result">
  <div class="col-4 team1" [class.team1-wins]="isTeam1Winning()" [class.team-halved]="isMatchHalved()">
    <div class="mb-3" *ngFor="let player of match.players1">
      <span class="first-name ">{{player.name}}</span>
      <span class="last-name ">{{player.surname}}</span>
    </div>
  </div>
  <div class="col-4 score" [class.team1-wins-score]="isTeam1Winning()" [class.team2-wins-score]="isTeam2Winning()" [class.score-halved]="isMatchHalved()">
    <div class="match-title">Match {{number+1}}</div>
    <div class="match-score">
      <span class="score-large">{{isMatchHalved() ? '' : totalPoints()}}</span>
      <span class="score-spacer"></span>
      <span class="score-small">{{isMatchHalved() ? 'HALVED' : 'Up'}}</span>
    </div>
  </div>
  <div class="col-4 team2" [class.team2-wins]="isTeam2Winning()" [class.team-halved]="isMatchHalved()">
    <div class="mb-3" *ngFor="let player of match.players2">
      <span class="first-name ">{{player.name}}</span>
      <span class="last-name ">{{player.surname}}</span>
    </div>
  </div>
</div>


<app-holes [team1Score]="match.score1" [team2Score]="match.score2"></app-holes>


<!-- Template
  <div class="row align-items-center result">
    <div class="col-4 team1 team1-wins">
      <span class="first-name ">Dario</span>
      <span class="last-name ">Cuevas</span>
    </div>
    <div class="col-4 score team1-wins-score">
      <div class="match-title">Match 1</div>
      <div class="match-score">
        <span class="score-large">2</span>
        <span class="score-spacer"></span>
        <span class="score-small">Up</span>
      </div>
    </div>
    <div class="col-4 team2">
      <span class="first-name ">Jon</span>
      <span class="last-name">Rahm</span>
    </div>
  </div>
  <div class="row align-items-center result">
    <div class="col-4 team1 team-halved">
      <span class="first-name ">Phil</span>
      <span class="last-name ">Mickelson</span>
    </div>
    <div class="col-4 score score-halved">
      <div class="match-title">Match 2</div>
      <div class="match-score">
        <span class="score-large"></span>
        <span class="score-spacer"></span>
        <span class="score-small">HALVED</span>
      </div>
    </div>
    <div class="col-4 team2 team-halved">
      <span class="first-name ">Sergio</span>
      <span class="last-name">Garcia</span>
    </div>
  </div>
  <div class="row align-items-center result">
    <div class="col-4 team1">
      <span class="first-name ">Jordan</span>
      <span class="last-name ">Spieth</span>
    </div>
    <div class="col-4 score team2-wins-score">
      <div class="match-title">Match 3 - Final</div>
      <div class="match-score">
        <span class="score-large">3</span>
        <span class="score-spacer">&</span>
        <span class="score-small">2</span>
      </div>
    </div>
    <div class="col-4 team2 team2-wins">
      <span class="first-name ">Henrik</span>
      <span class="last-name">Stenson</span>
    </div>
  </div> -->
